*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.tabella-ctr{
    display: block;
    position: relative;
    width: 100%;
    margin: 1rem 0 2rem;
    @include single-transition();
}


/*
===========================
Common rules
===========================*/
.t-row{
	position: relative;
	display: block;
	width: 100%;
	margin-top: 1.5rem;
	border: 1px solid $border-color;
}

.t-row-content-wrapper{
	position: relative;
	display: block;
	height: 100%;
	overflow: hidden;
}

.t-row-content{
	position: relative;
	display: block;
	height: 100%;
	overflow: hidden;
}

.t-row-header{
	display: block;
	position: relative;
	width: 100%;
	padding: 0.3rem 0.5rem;
	float: none;
	overflow: auto;
	color: $primary-color;
}

.t-sliding-row{
	position: relative;
	overflow: auto;
}

.t-row-values{
	float: left;
	position: relative;
	font-size: 1rem;
	overflow: hidden;
}

.t-row-desc{
	float: left;
	position: relative;
	overflow: hidden;
	padding: 0.4rem 0.1rem;
	font-size: 1rem;
	text-align: center;
}

.t-row-cell{
	float: left;
	position: relative;
	text-align: center;
	padding: 0.4rem 0.1rem;
	color: hsla(200,0%,0%,.7);
	//color: #fff;

	&:nth-of-type(odd){
		background-color: $odd-background-color;
	}

	&:nth-of-type(even){
		background-color: $even-background-color;
	}
}

.t-cell-border-top::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0.9rem;
	right: 0.9rem;
	height: 0px;
	border-top: 1px dotted $border-color;
}

.t-element{
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
	line-height: 1.4;
	vertical-align: middle;
}

.t-cell-value{
	float: left;
	display: inline-block;
	text-align: left;
}

.t-cell-desc-s{
	float: left;
	display: inline-block;
	margin-right: 0.4rem;
	text-align: left;
	color: hsla(200,0%,0%,.3);
}

.t-cell-desc-l{
	display: inline-block;
	position: relative;
	height: 100%;
	margin: 0 auto;
	text-align: left;
	color: $secondary-text;
	font-style: italic;
}

.t-hide{
	display: none !important;
	width: 0;
	height: 0;
	z-index: -1;
}

.t-arrow{
	position: absolute;
	width: 3rem;
	height: 3rem;
	z-index: 500;
	top: 0;
	//padding: .5rem;
	//line-height: 3;
	font-size: 2rem;
	text-align: center;
	margin-top: 0.25rem;
	border-radius: 50%;
	background-color: $accent-color;
	color: #fff;
	cursor: pointer;
	@include box-shadow;
	@include single-transition;

	&:active{
		@include box-shadow(none);
		margin-top: 0.28rem;
	}
}


.t-arr-right{
	@extend .t-arrow;
	right: 0;
	margin-right: -0.4rem;
}

.t-arr-left{
	@extend .t-arrow;
	left: 0;
	margin-left: -0.4rem;
}

.t-bold{
	font-weight: bold;
}