*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.tabella-ctr{
    display: block;
    position: relative;
    width: 100%;
    margin: 1em 0;
    overflow: hidden;
    @include single-transition();
}


/*
===========================
Common rules
===========================*/
.wrapper{
	position: relative;
	display: block;
	width: 100%;
	border: 1px solid $border-color;
	overflow: hidden;
}

.row-wrapper{
	position: relative;
	display: block;
	height: 100%;
	overflow: hidden;
}

.row{
	float: left;
	position: relative;
	font-size: 1em;
	overflow: hidden;
}

.row-description{
	float: left;
	overflow: hidden;
	padding: 0.4em 0.1em;
	font-size: 1em;
	text-align: center;
}

.cell{
	float: left;
	position: relative;
	text-align: center;
	padding: 0.4em 0.1em;
	color: hsla(200,0%,0%,.7);

	&:nth-of-type(odd){
		//color: #000;
		background-color: $odd-background-color;
	}

	&:nth-of-type(even){
	
		//color: #fff;
		background-color: $even-background-color;
	}
}

.cell-border-top::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0.9em;
	right: 0.9em;
	height: 0px;
	border-top: 1px dotted $border-color;
}

.element{
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
	line-height: 1.4;
	vertical-align: middle;
}

.cell-value{
	float: left;
	display: inline-block;
	text-align: left;
}

.cell-desc{
	float: left;
	display: inline-block;
	margin-right: 0.4em;
	text-align: left;
	color: hsla(200,0%,0%,.3);
}

.large-row-desc{
	display: inline-block;
	position: relative;
	//width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: left;
	//vertical-align: middle;
	color: $primary-color;
}

/*
===========================
Period
===========================*/

.period-wrapper{
	@extend .wrapper;
}

.period-row{
	@extend .row;
}

.period-description{
	@extend .row-description;
}

.period-cell{
	@extend .cell;
}

.period-element{
	@extend .element;
}

.period-date{
	@extend .cell-value;
}

.period-large-fromto{
	@extend .large-row-desc;
}

.period-fromto{
	@extend .cell-desc;
}

/*
===========================
Item
===========================*/
.item-wrapper{
	margin-top: 1.5em;
	@extend .wrapper;
}


.item-row{
	@extend .row;
}


.item-cell{
	@extend .cell;
}

.item-element{
	@extend .element;
}

.item-cell-desc{
	@extend .cell-desc;
}

.item-value{
	@extend .cell-value;
}

.item-desc{
	display: block;
	position: relative;
	width: 100%;
	padding: 0.3em 0.5em;
	float: none;
	overflow: auto;
	color: $primary-color;
}