*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.tabella-ctr{
    display: block;
    position: relative;
    width: 100%;
    margin: 1em 0;
    overflow: hidden;
    @include single-transition();
}


/*
===========================
Common rules
===========================*/
.t-row{
	position: relative;
	display: block;
	width: 100%;
	margin-top: 1.5em;
	border: 1px solid $border-color;
	overflow: hidden;
}

.t-row-content{
	position: relative;
	display: block;
	height: 100%;
	overflow: hidden;
}

.t-row-header{
	display: block;
	position: relative;
	width: 100%;
	padding: 0.3em 0.5em;
	float: none;
	overflow: auto;
	color: $primary-color;
}

.t-row-values{
	float: left;
	position: relative;
	font-size: 1em;
	overflow: hidden;
}

.t-row-desc{
	float: left;
	position: relative;
	overflow: hidden;
	padding: 0.4em 0.1em;
	font-size: 1em;
	text-align: center;
}

.t-row-cell{
	float: left;
	position: relative;
	text-align: center;
	padding: 0.4em 0.1em;
	color: hsla(200,0%,0%,.7);

	&:nth-of-type(odd){
		background-color: $odd-background-color;
	}

	&:nth-of-type(even){
		background-color: $even-background-color;
	}
}

.t-cell-border-top::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0.9em;
	right: 0.9em;
	height: 0px;
	border-top: 1px dotted $border-color;
}

.t-element{
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
	line-height: 1.4;
	vertical-align: middle;
}

.t-cell-value{
	float: left;
	display: inline-block;
	text-align: left;
}

.t-cell-desc-s{
	float: left;
	display: inline-block;
	margin-right: 0.4em;
	text-align: left;
	color: hsla(200,0%,0%,.3);
}

.t-cell-desc-l{
	display: inline-block;
	position: relative;
	height: 100%;
	margin: 0 auto;
	text-align: left;
	color: $primary-color;
}

.t-hide{
	display: none !important;
	width: 0;
	height: 0;
	z-index: -1;
}

