
$primary-color: #795548;
$primary-1-tint : #EFEBE9;
$primary-2-tint : #D7CCC8;
//$primary-fallback : #EFEBE9;

$border-color: rgba(0,0,0,.12);

$accent-color: #FF3D00;

$odd-background-color :  $primary-1-tint;
$even-background-color : $primary-2-tint;


$header-font-family: 'Rufina', serif;
$body-font-family: 'Lucida Console', Monaco, monospace;