$elba : rgb(80,205,184);
$brown : #965300;

$nav-arrow-background-color : rgba($elba, 0.7);
$nav-arrow-color : #f3f6f5;

$half-transparent: rgba(255,255,255,0.9);

$header-font-family: 'Rufina', serif;
$body-font-family: 'Lucida Console', Monaco, monospace;